nav ul {
    margin: 0;
    display: flex;
    list-style: none;
}
header {
    background-color: #5c94cc;
    padding: 0;
    position: sticky;
    top: 0;
}
nav ul li a {
    text-decoration: none;
    display: block;
    justify-content: left;
    padding: 20px ;
    justify-content:left;
    font-family: "Open Sans", sans-serif;
}
nav ul li a:hover{
    background-color: #8fd4ff;
    color: rgb(0, 0, 0);
}
nav {
    margin: 0px;
    padding: 0px;
    display: flex;
    
}
nav img{
    height: auto;
    width: 50px; 
    padding: 10px 10px;
}

header{
 padding: 0;
}
section {
   height: 100vh;
   padding: 60px 20px;
}
.presentacion{
    background-color: rgb(157, 184, 184);
}

p{
    font-family: "Open Sans", sans-serif;
}
h3{
    font-family: "Open Sans", sans-serif;
}

.imagenSection{ 
    width: 300px;
    margin-top: 30px;
    height: auto; /*pa que tu imagen mantenga la proporcion*/
}
.imagenSectionAlgoMas{ 
    width: 600px;
    margin-top: 30px;
    height: auto; /*pa que tu imagen mantenga la proporcion*/
}
footer {
    background-color: #009dff;
    color: #1D1616;
    padding: 20px 20px;
    display: flex;
    align-items:center;
    bottom: 0;
    justify-content: space-between;
}

.motivFrase{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}


